pip==23.3.1
absl-py==1.4.0
appdirs==1.4.4
array-record==0.4.1
astunparse==1.6.3
atomicwrites==1.4.0
backports.weakref==1.0.post1
brotlipy==0.7.0
deepface==0.0.79
etils==1.4.1
gunicorn==21.2.0
importlib-resources==6.0.1
inflection==0.5.1
jsonpointer==2.1
kaggle==1.5.16
keras==2.13.1
keras-tuner==1.3.5
kt-legacy==1.0.5
livelossplot==0.5.5
mtcnn==0.1.1
mypy-extensions==0.4.3
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
opendatasets==0.1.22
openpyxl==3.0.10
pgmpy==0.1.24
PyQt5==5.15.7
PyQtWebEngine==5.15.4
python-lsp-jsonrpc==1.0.0
retina-face==0.0.13
rsa==4.9
scipy==1.10.1
tensorboard==2.13.0
tensorboard-data-server==0.7.1
tensorflow==2.13.0
tensorflow-datasets==4.9.2
tensorflow-estimator==2.13.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.3.0
torch==2.1.1
typing_extensions==4.5.0
utils==1.0.1
webencodings==0.5.1
xgboost==1.7.6
zstandard==0.19.0