.feature-card-container {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card-text {
  font-weight: 600;
  line-height: 28px;
}
@media(max-width: 767px) {
  .feature-card-feature-card {
    flex-direction: row;
  }
  .feature-card-container {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card-container {
    flex-direction: column;
  }
}

.question1-container {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.question1-text {
  font-weight: 700;
}
.question1-root-class-name {
  left: 0px;
  width: auto;
  bottom: 0px;
  position: static;
  align-self: stretch;
}
.question1-root-class-name1 {
  left: 0px;
  width: auto;
  bottom: 0px;
  position: static;
  align-self: stretch;
}
.question1-root-class-name2 {
  left: 0px;
  width: auto;
  bottom: 0px;
  position: static;
  align-self: stretch;
}
.question1-root-class-name3 {
  left: 0px;
  width: auto;
  bottom: 0px;
  position: static;
  align-self: stretch;
}

.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-header {
  width: 100%;
  display: flex;
  z-index: 100;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.home-navbar-interactive {
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.home-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-nav12 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav12:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.home-nav42 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav42:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav52 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav52:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav32 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav32:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav22 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav22:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.home-burger-menu {
  display: flex;
}
.home-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-nav121 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav121:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.home-nav421 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav421:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav521 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav521:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav321 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav321:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav221 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav221:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.home-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.home-links2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-nav122 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav122:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.home-nav422 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav422:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav522 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav522:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav322 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav322:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.home-nav222 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.home-nav222:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.home-hero {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  margin-top: 96px;
  align-items: center;
  justify-content: center;
}
.home-hero1 {
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(254, 172, 94, 0.59) 2.00%,rgba(199, 121, 208, 0.62) 49.00%,rgba(75, 192, 200, 0.29) 100.00%);
}
.home-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-hero-heading {
  max-width: 100%;
  text-align: center;
}
.home-text {
  font-style: normal;
  font-weight: 500;
}
.home-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-container03 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home-navlink {
  color: var(--dl-color-gray-white);
  margin-top: var(--dl-space-space-unit);
  transition: 0.3s;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  text-decoration: none;
  background-color: #3447b3;
}
.home-navlink:hover {
  color: #3447b3;
  animation-name: none;
  animation-delay: 0s;
  background-color: var(--dl-color-gray-white);
  animation-duration: 300ms;
  animation-direction: reverse;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}
.home-features {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-features1 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fourunits);
  justify-content: flex-start;
}
.home-container04 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-features-heading {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text01 {
  font-style: normal;
  font-weight: 500;
  text-transform: capitalize;
}
.home-text03 {
  text-transform: lowercase;
}
.home-text05 {
  text-transform: lowercase;
}
.home-features-sub-heading {
  font-size: 18px;
  text-align: center;
}
.home-container05 {
  width: 100%;
  display: grid;
  grid-gap: var(--dl-space-space-oneandhalfunits);
  grid-template-columns: 1fr 1fr;
}
.home-faq {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-faq1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fourunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fourunits);
}
.home-container06 {
  display: flex;
  max-width: 35%;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home-text21 {
  color: var(--dl-color-gray-white);
  font-size: 12px;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
  line-height: 150%;
}
.home-text22 {
  font-size: 12px;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-text23 {
  text-transform: lowercase;
}
.home-text24 {
  font-size: 12px;
  font-family: "Bricolage Grotesque";
  font-weight: 700;
  line-height: 150%;
  text-transform: uppercase;
}
.home-text25 {
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text26 {
  text-align: left;
}
.home-container07 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  flex-direction: column;
}
.home-footer {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-footer1 {
  height: 341px;
}
.home-container08 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.home-logo1 {
  align-self: flex-start;
  text-align: center;
}
.home-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.home-navlink1 {
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}
.home-navlink1:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline  none;
}
.home-navlink2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink2:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline none;
}
.home-navlink3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink3:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline  none;
}
.home-navlink4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink4:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline none;
}
.home-navlink5 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink5:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline none;
}
.home-contact {
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.home-text29 {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.home-text30 {
  margin-bottom: var(--dl-space-space-unit);
}
.home-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-900);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.home-container09 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-text31 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
}
.home-container10 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.home-container11 {
  margin: mixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-link {
  display: contents;
}
.home-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.home-link1 {
  display: contents;
}
.home-icon2 {
  width: 24px;
  height: 24px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
}
.home-link2 {
  display: contents;
}
.home-icon4 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-link3 {
  display: contents;
}
.home-icon6 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.home-container12 {
  margin: mixed;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.home-text32 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.home-text33 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.home-text34 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.home-text35 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
@media(max-width: 1200px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .home-hero1 {
    flex-direction: column;
  }
  .home-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .home-hero-heading {
    text-align: center;
  }
  .home-features-sub-heading {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .home-text26 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .home-hero1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-features-sub-heading {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-container05 {
    grid-template-columns: 1fr;
  }
  .home-faq1 {
    flex-direction: column;
  }
  .home-container06 {
    max-width: 100%;
    align-self: center;
    align-items: center;
    justify-content: center;
  }
  .home-text26 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-footer1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text31 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .home-mobile-menu1 {
    padding: 16px;
  }
  .home-hero1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-features1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-footer1 {
    padding: var(--dl-space-space-unit);
  }
  .home-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home-container09 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .home-text31 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
