.speech-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.speech-navbar-interactive {
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.speech-desktop-menu {
  flex: 1;
  display: none;
  justify-content: space-between;
}
.speech-links {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.speech-nav12 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav12:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-nav42 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav42:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav52 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav52:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav32 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav32:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav22 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav22:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-burger-menu {
  display: flex;
}
.speech-links1 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.speech-nav121 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav121:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-nav421 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav421:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav521 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav521:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav321 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav321:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav221 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav221:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-mobile-menu1 {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: 32px;
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
}
.speech-links2 {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.speech-nav122 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav122:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-nav422 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav422:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav522 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav522:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav322 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav322:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-nav222 {
  color: var(--dl-color-gray-black);
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  border-color: var(--dl-color-gray-500);
  border-style: solid;
  border-width: 1px;
  text-decoration: none;
  background-color: var(--dl-color-gray-white);
}
.speech-nav222:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-hero {
  height: 48px;
  display: flex;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  padding-top: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-threeunits);
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(194, 229, 156) 0.00%,rgba(100, 179, 244, 0.99) 89.00%);
}
.speech-container01 {
  gap: var(--dl-space-space-oneandhalfunits);
  height: 68px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.speech-hero-heading {
  max-width: 800px;
  text-align: center;
}
.speech-container02 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  justify-content: center;
}
.speech-image {
  width: 366px;
  height: 289px;
  max-width: 400px;
  min-width: auto;
  align-self: center;
  margin-top: var(--dl-space-space-twounits);
  max-height: 400px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: var(--dl-space-space-twounits);
}
.speech-container03 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: center;
}
.speech-container04 {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: center;
}
.speech-button {
  transition: 0.3s;
  margin-right: var(--dl-space-space-unit);
}
.speech-button:hover {
  color: #ffffff;
  background-color: #3447b3;
}
.speech-button1 {
  transition: 0.3s;
  margin-left: 0px;
  margin-right: var(--dl-space-space-unit);
}
.speech-button1:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-button2 {
  transition: 0.3s;
  margin-left: 0px;
}
.speech-button2:hover {
  color: var(--dl-color-gray-white);
  background-color: #3447b3;
}
.speech-footer {
  height: 341px;
  margin-top: var(--dl-space-space-sixunits);
  background-color: var(--dl-color-gray-900);
}
.speech-container05 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.speech-logo1 {
  align-self: flex-start;
  text-align: center;
}
.speech-nav {
  flex: 0 0 auto;
  display: flex;
  margin-top: 0px;
  align-items: center;
  flex-direction: row;
}
.speech-navlink {
  transition: 0.3s;
  margin-left: 0px;
  text-decoration: none;
}
.speech-navlink:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline  none;
}
.speech-navlink1 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.speech-navlink1:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline none;
}
.speech-navlink2 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.speech-navlink2:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline  none;
}
.speech-navlink3 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.speech-navlink3:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline none;
}
.speech-navlink4 {
  transition: 0.3s;
  margin-left: var(--dl-space-space-unit);
  text-decoration: none;
}
.speech-navlink4:hover {
  font-style: normal;
  font-weight: 600;
  text-decoration: underline none;
}
.speech-contact {
  display: flex;
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-start;
}
.speech-text {
  font-weight: 700;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.speech-text1 {
  margin-bottom: var(--dl-space-space-unit);
}
.speech-separator {
  flex: 0 0 auto;
  width: 100%;
  height: 0px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  border-color: var(--dl-color-gray-black);
  border-style: solid;
  border-width: 1px;
  margin-right: 0px;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.speech-container06 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.speech-text2 {
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  text-align: left;
}
.speech-container07 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: space-between;
  flex-direction: column;
}
.speech-container08 {
  margin: mixed;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.speech-link {
  display: contents;
}
.speech-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.speech-link1 {
  display: contents;
}
.speech-icon2 {
  width: 24px;
  height: 24px;
  margin-left: 40px;
  margin-right: 40px;
  text-decoration: none;
}
.speech-link2 {
  display: contents;
}
.speech-icon4 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  text-decoration: none;
}
.speech-link3 {
  display: contents;
}
.speech-icon6 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-oneandhalfunits);
  margin-right: var(--dl-space-space-oneandhalfunits);
  text-decoration: none;
}
.speech-container09 {
  margin: mixed;
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.speech-text3 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.speech-text4 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.speech-text5 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
.speech-text6 {
  align-self: flex-end;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
}
@media(max-width: 1200px) {
  .speech-desktop-menu {
    display: none;
  }
  .speech-burger-menu {
    display: flex;
  }
}
@media(max-width: 991px) {
  .speech-hero {
    flex-direction: column;
  }
  .speech-container01 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .speech-hero-heading {
    text-align: center;
  }
}
@media(max-width: 767px) {
  .speech-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .speech-burger-menu {
    align-items: center;
    justify-content: center;
  }
  .speech-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .speech-footer {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .speech-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .speech-container06 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .speech-text2 {
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .speech-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .speech-mobile-menu1 {
    padding: 16px;
  }
  .speech-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .speech-container01 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .speech-footer {
    padding: var(--dl-space-space-unit);
  }
  .speech-contact {
    align-items: flex-start;
    margin-bottom: var(--dl-space-space-unit);
  }
  .speech-separator {
    margin-top: var(--dl-space-space-oneandhalfunits);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .speech-container06 {
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .speech-text2 {
    text-align: center;
    margin-bottom: var(--dl-space-space-oneandhalfunits);
  }
}