.testimonial-card-mehak-testimonial-card {
  display: flex;
  padding: var(--dl-space-space-twounits);
  max-width: var(--dl-size-size-maxwidth);
  background: #fff;
  box-shadow: 5px 5px 10px 10px rgba(18, 18, 18, 0.1);
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card-mehak-image {
  width: var(--dl-size-size-xlarge);
  height: 257px;
  max-width: auto;
  min-width: auto;
  max-height: auto;
  min-height: auto;
  object-fit: cover;
  border-color: #595959;
  border-style: solid;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-round);
}
.testimonial-card-mehak-testimonial {
  height: 95px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.testimonial-card-mehak-text {
  font-size: 26px;
  font-style: normal;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  font-family: "Georgia";
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.testimonial-card-mehak-text1 {
  color: var(--dl-color-gray-500);
  text-align: center;
  font-family: "Fira Sans";
  margin-bottom: var(--dl-space-space-threeunits);
}
.testimonial-card-mehak-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.testimonial-card-mehak-link {
  display: contents;
}
.testimonial-card-mehak-icon {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.testimonial-card-mehak-link1 {
  display: contents;
}
.testimonial-card-mehak-icon2 {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-halfunit);
  margin-right: var(--dl-space-space-halfunit);
  text-decoration: none;
}

@media(max-width: 767px) {
  .testimonial-card-mehak-testimonial-card {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .testimonial-card-mehak-testimonial-card {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .testimonial-card-mehak-text {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .testimonial-card-mehak-text1 {
    margin-bottom: var(--dl-space-space-twounits);
  }
}
